.main-vbox {
    background-color: #2c2c2c;
    border-radius: 0;
    color: white; 
}

.menu-button {
    background-color: #2c2c2c;
    color: black;               
    border: none;
    border-radius: 0;           
    padding: 6px 12px;
}

.ui-button {
    background-color: #3a3a3a; 
    color: black;               
    border: 1px solid #555555;  
    border-radius: 0;           
    padding: 6px 12px;
    font-weight: bold;
}

.ui-button:hover {
    background-color: #505050;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.ui-button:active {
    background-color: #606060;
}

.thick-bar {
    min-height: 28px;
    border-radius: 6px;
}

.thick-bar trough {
    background: #d0d0d0;
    border-radius: 6px;
    min-height: 28px;
}

.thick-bar progress {
    background: linear-gradient(to right, #0078D7, #00A2FF);
    border-radius: 6px;
    min-height: 28px;
}

.progress-label {
    color: black;
    font-weight: bold;
}

.draw-board {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 60, 0);
}

.draw-board > separator {
    background-color: black;       
    border: 1px solid #eaeaea;
    border-radius: 3px;
    min-width: 8px;               
    min-height: 8px;              
    background-image: url("white-dot.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 2px 2px;   
}